name: Build FreeBSD Container

on:
  push:
    branches: [main]
    paths-ignore: ['*.md', 'LICENSE', '.gitignore']
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    uses: daemonless/daemonless/.github/workflows/build-app.yaml@main
    with:
      image_name: vaultwarden
    secrets: inherit
